<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnRisky="true">

    <testsuites>
        <testsuite name="FreedomBrokerApi Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
         <!-- исключаем Laravel-специфичные обёртки из покрытия -->
         <exclude>
             <directory>./src/Laravel</directory>
         </exclude>
        <report>
            <!-- обязательный атрибут -->
            <text outputFile="php://stdout"
                  showUncoveredFiles="true"/>
            <html outputDirectory="./build/coverage-html"/>
        </report>
    </coverage>
    <php>
        <includePath>tests/helpers</includePath>
        <env name="FREEDOM_LIVE_TEST" value="1"/>
    </php>
</phpunit>
