<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnRisky="true">

    <testsuites>
        <testsuite name="FreedomBrokerApi Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <!-- обязательный атрибут -->
            <text outputFile="php://stdout"
                  showUncoveredFiles="true"/>
            <html outputDirectory="./build/coverage-html"/>
        </report>
    </coverage>
</phpunit>
